<footer class="footer d-flex align-items-center" >
		<div class="container">
                <nav>
                    <ul class='d-flex align-items-center justify-content-sb'>
                        <li class='logo-footer' ><a href="{{path('home')}}"><img src={{asset('/build/images/banner-logo.svg')}} alt="" /></a></li>
                        <li  class='select-none'>Copyright © 2022 ToLink R.W.</li>
                        <li class=''><a href=""> Politique de confidentialité</a></li>
                        <li class=''><a href="">Termes et Conditions</a></li>
                    </ul>
                </nav>
            </div>
	</footer>