<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% apply inline_css( source('@email_css/emails.css') ) %}
<center class="wrapper">
<table class="main">
    <!-- logo -->
    <tr>
        <td>
            <table width="100%">
                <tr>
                <td style="text-align: center;">
                    <h1>
                    {% trans %}
                    Vous avez fait une demande de réinitialisation de mot de passe
                    {% endtrans %}
                    </h1>
                </td>
                </tr>
            
            </table>
        </td>
    </tr>

    
    <tr class="img">
    <img src="{{  absolute_url(path('home')) ~ asset('/build/images/site/ogg.png') }}" alt="logo de tolink sur fond gris" />
    
    </tr>
<!-- contenu -->
<tr>
<td style="text-align:center; padding-bottom:40px;">
<table class="contenu" width="100%" style="text-align:center;">
    <p> {% trans %}Pour finaliser votre demande vous pouvez cliquer sur le lien ci-dessous{% endtrans %}</p>
    <p> {% trans %}Si vous n'êtes pas l'auteur de la demande veuillez ne pas tenir compte de cet email{% endtrans %}</p>
    <a href="{{url('new_password_verify_password', {'token' : context } )}}">  {% trans %}Changer mon mot de passe{% endtrans %} </a>
</table>
</td>
</tr>
</table>
</center>
{% endapply %} 
</body>
</html>