<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% apply inline_css( source('@email_css/emails.css') ) %}
<center class="wrapper">
<table class="main">
    <!-- logo -->
    <tr>
        <td>
            <table width="100%">
                <tr>
                <td style="text-align: center;">
                    <h1>Bienvenu sur Tolink {{ pseudo }}</h1>
                </td>
                </tr>
            
            </table>
        </td>
    </tr>
<!-- image frinki -->

    <tr class="img">
    <img src="{{absolute_url(asset('/build/images/site/email_logo.jpg'))}}" alt="logo de tolink sur fond gris">
    </div>  
    </tr>
<!-- contenu -->
<tr>
<td style="text-align:center; padding-bottom:40px;">
<table class="contenu" width="100%" style="text-align:center;">
    <p>Veuillez confirmer votre email avant de pouvoir utiliser nos services</p>
    <a href="{{url('active-account', {'token' : token } )}}"> Activer mon compte </a>
</table>
</td>
</tr>
</table>
</center>
{% endapply %} 
</body>
</html>