.container-main-schedule{
    @extend .container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: inherit;
    
        h1{
            text-align: center;
            font-size: 2.7rem;
            font-family: var(--font-family1);
        }
        .js-timer{
            display: flex;
            margin: 0rem 0;
            justify-content: center;
            align-items: center;
            span{
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding:0.5rem 0;
                border:2px unset var(--secondary);
                font-size: 4rem;
            }
            i{
                padding:0 0.5rem;
            }

        }
        .legend-form-schedule{
            background-color: var(--secondary);
            color:var(--white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            border:none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding:0.5rem 1rem;
            .close-pannel{
  
                width: 90px;
                height: 50px;
                display: block;
                margin: 1rem 0;
                img{
                    height: 100%;
                    -o-object-fit: contain;
                       object-fit: contain;
                }
            }
            h2{
                font-size: 2.1rem;
                text-align: center;
            }
            span{
                font-size: 1.3rem;
                text-align: center;
                color:var(--primary);
            }
        }
    }
    
    .container-form-schedule{
        margin-bottom: 2rem;
        max-width: 600px;
        width: 100%;
        .form-step{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            .title-open-close{
                margin:0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                color: var(--secondary);
                font-family: var(--title-font);
                
            }
            .schedule-days-input-container{
                color: var(--secondary);
                font-family: var(--title-font2);
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url('/assets/images/pencil-grey.svg');
                background-repeat:space;
                background-size: cover;
                background-position: center center;
                min-height: inherit;
                color: var(--white);
            }
        .form-group-times{
            display: grid;
            grid-template-columns: repeat(2,minmax(80px,1fr));
            gap: 10px;
            padding:0 0.3rem;
            justify-content: space-between;
            margin:1rem 0;
          
            .spacer-time{
                padding:0 0.3rem;
            }
            .schedule-time-input-container{
                margin: 0 auto;
                display: flex;
                flex-direction: column;

            }
            .clock-svg{
                content:url('/assets/images/time.svg');
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 15px;
                    height: 100%;
                    padding: 0 0.2rem;
                    -o-object-fit: contain;
                       object-fit: contain;
                       -webkit-user-select: none;
                          -moz-user-select: none;
                           -ms-user-select: none;
                               user-select: none;
                       pointer-events: none;
            }
            input{
                position: relative;
                border:none;
                text-align:end;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                color: var(--secondary);
                background: none;
            }
            [type="time"]::-webkit-inner-spin-button {
                display: none;
              }
                [type="time"]::-webkit-calendar-picker-indicator {
                    display: none;
                  }
            
        }
     
        // .title-group-time{
        //     grid-template-columns: repeat(3,1fr);
        //     span{
        //         font-weight: bold;
        //         text-align: center;
        //         font-size: 1.8rem;
        //         font-family: var(--title-font);
        //     }
        // }
        // button[type="submit"]{
        //     @extend .btn;
        // }
    }


}

.bg-error-time{
    background-color: var(--error2) !important;
    input{
        color: white!important;
        span{
        }
    }
}