.ts-wrapper.multi .ts-control > div,.ts-wrapper.multi .ts-control [data-value]{
    background-color: var(--primary);
}


input[type=select]{
    -webkit-user-select: auto!important;
       -moz-user-select: auto!important;
        -ms-user-select: auto!important;
            user-select: auto!important;
}
input{
    font-size: 16px;
}


.bg-common{
    background-image: url('/assets/images/home/ligne.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: inherit
}

.container-form-common{
    @extend .container;
    min-height:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commonForm{
    // max-width:400px;
    background-color: var(--secondary);
    width: 100%;
    max-width: 600px;
    margin:1rem 0;
    border-radius: 2rem;

    .form{
        ul{
            li{
                margin:0.2rem 0;
                font-size: 1.4rem;
                color:var(--error2);
            }
        }
    }
    // background-color: var(--grey);

     @media (min-width: 992px) {
         padding:2rem 3rem;
     } 
     padding:1.4rem;
    box-shadow: var(--box-shadow);
    label,.required{
        color:var(--white);
        @media (min-width: 992px) {
            font-size: 1.6rem;
        } 
        font-size: 1.6rem;
        padding:0.5rem 0;
        font-family:  var(--title-font2);
    }
    img{
        width: 40%;
        // height: 100px;
        display: block;
        margin:0 auto;
    }
    span{
        a{
            font-size: 1.3rem;
            color:var(--grey);
        }
    }
}

.info-form-user{
    color:white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
   
    span{
        padding:0.5rem 0;
        @media (min-width: 992px) {
            font-size: 1.6rem;
        } 
        font-size: 1.2rem;
    }
    ul{
        li{
            list-style-type: circle;
        
            a{
                color:var(--primary);
                @media (min-width: 992px) {
                    font-size: 1.6rem;
                } 
                font-size: 1.2rem;
            }
        }
    }
}

.form-groups,.form-group{
    display: flex;
    margin:0.5rem 0;
}
.form-group{
    align-items: center;
    .form-boolean{
        display: flex;
        width: 20px;
        height: 20px;    
        margin:0 1rem;
    }
}

.form-groups{
    flex-direction: column;

    
    input{
        border:none !important;
        border-bottom: 1px solid var(--secondary-light);
        border-radius: 5px;
        width: 100%;
        padding:0.7rem 0.5rem;
        // background-color: var(--grey) !important;
        &:focus{
            outline-color: transparent;
        }
    }
}

.form-message-errors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
    background-color: var(--error2);
    color:var(--white);
    border-radius: 5px;
}
