.bg-style-create{
    @extend .container-fluid;
    background-image: url('/assets/images/pencil.svg');
    background-repeat:space;
    background-size: cover;
    background-position: center center;
    min-height: inherit;
}

.bg-grey-style-create{
    @extend .container-fluid;
    background-image: url('/assets/images/pencil-grey.svg');
    background-repeat:space;
    background-size: cover;
    background-position: center center;
    min-height: inherit;
    .container-resto-form{

        .title{
            h1{
                color: var(--white) !important;
                }
        }
    }
}

.container-resto-form{
    @extend .container;
    position: relative;
    padding-bottom: 1rem;
    padding-top: 2rem;
    min-height: inherit;
    
    .title{
        min-height: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 349px;

        margin:2rem auto;
        h1{
            font-family: var(--font-family1);
            text-align: center;
            z-index: 2;
            color:var(--secondary);
            font-size: 3rem;
        }
        // &::after{
        //     content: '';
        //     position: absolute;
        //     width: 70%;
        //     height: 100px;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%,-50%);

        //     background: var(--white);
        //     border-radius: 89px 0px 50px;
        // }
        // &::before{
        //     content:'';
        //     position: relative;
        //     background-image: url('/assets/images/home/ligne.svg');
        //     background-position: center center;
        //     background-size: contain;
        //     background-repeat: no-repeat;
        //     position: absolute;
        //     width: 80%;
        //     height: 100px;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%,-50%);
        //     z-index: 1;
        // }
    }

}
.form-step{
    background-color: white;
    
    box-shadow: var(--box-shadow);
    padding:1rem;
    border-radius: 20px;

    background-image: url('/assets/images/chefFormCreate.svg');
    background-position: center center;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;


    // &::after{
    //     content:'';
    //     width:100%;
    //     height: 100%;
    //     filter: blur(10px);
    //     background-color: rgba(255, 255, 255, 0.557);
    //     position: absolute;
    //     left:0;
    //     bottom: 0;
    //     top: 0;
    //     z-index: -1;
    //     right:0;
    // }

    h2{
        margin:0 auto;
        display: block;
        text-align: center;
        padding:1rem 0;
        font-size: 1.9rem;
        z-index: 4;
    }

    
    .ts-wrapper.single.input-active{
        background-color: var(--grey) !important;
        width: 100% !important;
        border: none;
    }
    .create-form-name{
        max-width: 300px;
        margin: 0 auto;
    }

  .item{
        background-image: none !important;
        color:var(--secondary) !important;
        border: none;
    }
     
    .ts-wrapper.single .ts-control{
        background-color: inherit !important;
        border: none !important;
        background-image: none !important;
        border: none;
    }

    .ts-control{
        background-color: inherit !important;
        border: none !important;
        background-image: none !important;
    }

    #resto_name{
        min-height: 100%;
    }

}

.design-form-input{
    width: 100%;
    box-shadow: var(--box-shadow);
    background-color: var(--grey);
    margin:1rem 0.2rem;
    border-radius: 5px;
    display: flex;
    min-height: 47px;
    input{
        background-color: var(--grey);
        padding:0 0 0 0.5rem;
        &:focus{
           outline: none;
        }
        &::-webkit-input-placeholder{
            font-weight: bold;
            font-family: var(--font-family3);
            opacity: 0.5;
        }
        &::-moz-placeholder{
            font-weight: bold;
            font-family: var(--font-family3);
            opacity: 0.5;
        }
        &:-ms-input-placeholder{
            font-weight: bold;
            font-family: var(--font-family3);
            opacity: 0.5;
        }
        &::-ms-input-placeholder{
            font-weight: bold;
            font-family: var(--font-family3);
            opacity: 0.5;
        }
        &::placeholder{
            font-weight: bold;
            font-family: var(--font-family3);
            opacity: 0.5;
        }
    }
    #resto_city{
        background-color: var(--grey) !important;
    }
    .ts-wrapper{
        width:100%;
        background-color: var(--grey);
        border:none !important;
    }
    .ts-wrapper.single{
        border:none !important;
    }
    .full-form-input{
        width: 100%;
        height: inherit;

    }

   
    .design-form-icon{
        background-color: var(--white);
        transition: all 1s ease-in;
        width: 80px;
        height: inherit;
        border-radius: 10px  0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.create-form-coord{
  
    @media (min-width:992px) {
        
        flex-direction: row !important;
        flex-wrap: wrap;
        .container-design-form{
            margin:0rem 1rem !important;
            flex:1;
        }
        
    }
}


.create-form-descr{
    min-height: 120px;
    .container-design-form{
        min-height: inherit;
    }
    .design-form-input{
        min-height: inherit;
        .design-form-icon{
            min-height: inherit;
        }
    }

       textarea{
        min-height: inherit;
           width:100%;
           border:none;
           background-color: inherit;
           resize: none;
           padding:5px;
           &:focus{
            outline: none;
           }
        
    }


}
.fileInput{
 display: grid !important;
 grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
 gap: 10px !important;
 position: relative;

}
.img-collection{
    position: relative;
}

.input-collection{
    display: none;
}
.label-input-file{
    width: inherit;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px dashed var(--primary);
    position: relative;
    cursor: pointer;
    &::after{
        content:'';

        background-image: url('/assets/images/photo.svg');
        background-size: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-color: white;
        border-radius: 50%;
        font-size: 4rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top:50%;
        color:var(--primary);
        left:50%;
        box-shadow: var(--box-shadow);
        transform: translate(-50%,-50%);

    }
    img{
        width: inherit;
        height: inherit;
        -o-object-fit: cover;
           object-fit: cover;
    }
    
}

.delete-btn-file{
position: absolute;
top:0;
right:0;
width:40px;
height: 40px;
background-color: var(--primary);
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
color:white;
z-index: 8;
font-size: 2rem;
border: none;
}


#main > div > div > div.form-step > form > div:nth-child(8) {
    .item{
        background-image: none !important;
        color:var(--secondary) !important;
        border: none !important;
        box-shadow: none;
    }

}
//plat
.form-create-error{
    ul{
        li{
            font-size: 1.4rem;
            margin:1rem 0;
            text-align: center;
            color:var(--error2);
        }
    }
}
.full-preview-image{
    grid-template-columns: repeat(auto-fit,minmax(200px,400px));
    .preview-image{
        height: 400px;
    }
}

.preview-image{
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    display: flex;
}


.container-grid-all{
    display: grid;
    justify-content: center;
    width: 100%;
    gap: 10px;
    @media (min-width:1200px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 250px));   
    }
    @media (max-width:576px) {
        grid-template-columns: 1fr;   
    }
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
}