.container-form-inscription{
    @extend .container;
    min-height:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inscriptionForm{
    // max-width:400px;
    background-color: var(--secondary);
    width: 100%;
    max-width: 600px;
    margin:2rem 0;
    border-radius: 2rem;

    .form{
        ul{
            li{
                margin:0.2rem 0;
                font-size: 1.4rem;
                color:red;
            }
        }
    }
    // background-color: var(--grey);

     @media (min-width: 992px) {
         padding:4rem;
     } 
     padding:1rem;
    box-shadow: var(--box-shadow);
    label,.required{
        color:var(--white);
        @media (min-width: 992px) {
            font-size: 2rem;
        } 
        font-size: 1.6rem;
        padding:0.5rem 0;
        font-family:  var(--title-font2);
    }
    img{
        width: 50%;
        // height: 100px;
        display: block;
        margin:0 auto;
    }

}

.info-form-user{
    color:white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
   
    span{
        padding:0.5rem 0;
        @media (min-width: 992px) {
            font-size: 1.6rem;
        } 
        font-size: 1.2rem;
    }
    ul{
        li{
            list-style-type: circle;
        
            a{
                color:var(--primary);
                @media (min-width: 992px) {
                    font-size: 1.6rem;
                } 
                font-size: 1.2rem;
            }
        }
    }
}

.form-groups,.form-group{
    display: flex;
    margin:0.5rem 0;
}
.form-group{
    align-items: center;
    .form-boolean{
        display: flex;
        width: 20px;
        height: 20px;    
        margin:0 1rem;
    }
}

.form-groups{
    flex-direction: column;

    
    input{
        border:none;
        border-bottom: 1px solid var(--secondary-light);
        border-radius: 5px;
        width: 100%;
        padding:0.7rem 0.5rem;
        background-color: var(--grey);
        &:focus{
            outline-color: transparent;
        }
    }
}

.btn{
    font-size: 2rem;
    font-family: var(--title-font2);
    border:none;
    background-color: var(--primary);
    border-radius: 5px;
    padding:1rem 4rem;
    border:1px solid var(--primary);
    color:var(--secondary);
    margin-top: 4rem;
    color:var(--white);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}