{% extends "base.html.twig" %}


{% set default_avatar = asset('/build/images/avatar/avatar-default.svg') %}
{% block title %}
	{% trans %}Supprimer mon compte{% endtrans %}
{% endblock %}

{% block body %}
	<div class="bg-style-create">
		<div class="container-resto-form">
			<div class="title">
				<h1>
					{% trans %}
						Supprimer mon compte
					{% endtrans %}
				</h1>
			</div>
			<div class="form-step before-delete-main">
				<div class="container-before-delete">
				
					<picture class="before-delete">
						<h2>
							{% trans %} Êtes-vous sûr de ne plus vouloir profiter de nos délicieux services?
							{% endtrans %}</h2>
							
						<img src="" alt="">
					</picture>
				<ul>
				<li> {% trans %} Vous ne pourrez plus accéder à votre profil {% endtrans %}</li>
				<li> {% trans %} Vos données personnelles seront effacées {% endtrans %}</li>
				<li> {% trans %} Il ne sera plus possible de récupérer ce compte {% endtrans %}</li>
				<li> {% trans %} Votre pseudo pourra de nouveau être utilisé {% endtrans %}</li>
				{% if is_granted('ROLE_RESTAURATEUR') %}
				
				<li> {% trans %} Vos restaurants  seront immédiatement supprimés {% endtrans %}</li>
			
				{% endif %}
				</ul>
				</div>
				

				<div class="container-btn-action-form">
					<div class="button-container-2">
						<span class="mas">
							{% trans %}
							Annuler
							{% endtrans %}
						</span>
						<a href="{{path('app_profil')}}" name="Hover">
							{% trans %}
							Annuler
							{% endtrans %}
						</a>
					</div>

					<div class="button-container-1">
						<span class="mas-1">
							{% trans %}
								Supprimer
							{% endtrans %}
						</span>
						<a href="{{path('delete_profil')}}">
							{% trans %}
								Supprimer
							{% endtrans %}
						</a>
					</div>
				</div>

			</div>
		</div>
	{% endblock %}
	{% block javascriots %}
		{{parent()}}
		{{ encore_entry_script_tags('avatar-js') }}
	{% endblock %}
