
{% if app.user.likes|length > 0 %}
	<h2>
		{% trans %}Liste de vos restaurants favoris{% endtrans %}</h2>
	{% for like in app.user.likes %}
		<section class="resto-main-container-profil">

			<picture class="profil-cover-resto" {% if like.restaurant.cover is empty %} style="background-image:url({{asset('/build/images/site/default_resto.jpg' )}})" {% else %} style="background-image:url({{asset('/images/restaurant/' ~ like.restaurant.cover )}})" {% endif %}>
			<a href=" #" class="resto-delete-profil-info" title={% trans %} "Enlever des favoris" {% endtrans %}>
					<i class="fa-solid fa-trash-can"></i>
				</a>
				<h3 class="text-center">
					<span>
						{% trans %}
						Restaurant
						{% endtrans %}
						:
					</span>
					{{like.restaurant.name}}
				</h3>

			</picture>
			<div class="resto-container-profil">
				<div class="box-resto-profil">
					<a href="{{path('resto_view',{id:like.restaurant.id})}}">
						<img src="/build/images/profil/profil-resto-view.svg" alt="icon de télphone avec un plat">
						<span>
							{% trans %}
							Page du restaurant
							{% endtrans %}
						</span>
					</a>
				</div>
				
	

			</div>
		</section>
	{% endfor %}
{% else %}
	<div class="profil-not-resto-container">
		<h1>
			{% trans %}
			Liste de vos restaurants favoris
			{% endtrans %}</h1>
		<span class="profil-not-resto">
			{% trans %}
			Aucun restaurants en favoris
			{% endtrans %}
		</span>
	</div>
{% endif %}
