.slider-resto{
    height: calc(70vh);
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    box-shadow: var(--box-shadow);
    .slider-img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left:0;
        opacity: 0;
        transform: scale(1);
        transform-origin: center;
        transition: all 2s ;
        
    }
}
.active-slider{
 opacity: 1 !important;
    z-index: 1;
    transform-origin: center;

    transform: scale(1.1) !important;
}
.control-slider-container{
    width:100%;
    min-height: 20px;
    position: absolute;
    bottom: 20px;
    z-index: 10;
    justify-content: center;
    display: flex;
    .control-slider{
        background-color: white;
        width:25px;
        height: 10px;
        margin:0.5rem 1rem;
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        cursor: pointer;
    }
}
.active-control{
    background-color: var(--primary)!important;
}