{% extends 'base.html.twig' %}
{% block title %}
	{% trans %}
	Termes et conditions
	{% endtrans %}
{% endblock %}

{% block body %}
    

	<section class="banner-privacy container-fluid home-banner" style="background-image:url({{asset('/build/images/site/privacy.png')}})">
		<div class="container d-flex justify-content-center logo-banner">
			<h1>{% trans %}	Termes et conditions{% endtrans %}</h1>
		</div>

	</section>

	<section class="container">
		<div class="policy-info-company-container">
			<div class="policy-info-compagny-title">
				<img src="{{asset('/build/images/site/logo-yellow.svg')}}" alt="logo toLink jaune et gris">
				<h3>
					{% trans %}
					Ce site web est fictif il est là pour démontrer mes capacités de développeur web.
					{% endtrans %}
				</h3>
			</div>

		</div>
		<div class="container-company-info-privacy">
			<article>
			<h2> {% trans %}Réglement de ToLink{% endtrans %}</h2>
				<p>
					{% trans %}
					Pour pouvoir poursuivre sur le site ToLink vous devez respecter les différents points cités dans ce réglement.
					{% endtrans %}
				</p>
			</article>

			<article>
			<h3>1. {% trans %}Définitions{% endtrans %}</h3>
			<ul>
				<li>
					<span>
					{% trans %}
						Politique de confidentialité
					{% endtrans %}
					:
					</span>
					{% trans %}
					
					 désigne le document définissant à caractère personnella manière dont ToLink collecte, utilise, traite, stocke et transfère les données.
					{% endtrans %}
				</li>
				<li>
					<span>
					{% trans %}
						utilisateur
					{% endtrans %}
					:
					</span>
					{% trans %}
					Désigne une personne utilisant le site ToLink
					{% endtrans %}
				</li>
				<li>
					<span>
					{% trans %}
						Restaurateur
					{% endtrans %}
					:
					</span>
					{% trans %}
					Désigne une personne utilisant le site ToLink et pouvant créer un établissement sur celui-ci.
					{% endtrans %}
				</li>
			</ul>
			</article>
<article>
<h3>
2.
{% trans %}
Introduction
{% endtrans %}
</h3>
	<p>
	{% trans %}
		2.1. Bienvenue sur le site. Veuillez lire attentivement les présentes Conditions Générales. Elles définissent les conditions générales en vertu desquelles vous pouvez utiliser le Site. Si vous acceptez les présentes Conditions Générales, vous pourrez utiliser notre Site en tant qu’Utilisateur et aurez la possibilité d’agir en tant qu'utilisateur normal ou restaurateur sur le Site. Si vous n’acceptez pas les présentes Conditions Générales, vous n’êtes pas autorisé(e) à utiliser le Site. ToLink offre ces services à titre gratuit mais peut à tout moment offrir de nouveaux services payant qui seront indiqués précisément sur le site ToLink, ainsi que sur les conditions générales et Termes du site. 

2.2 Tous les restaurants mis sur le site  sont à la responsabilités du créateur de celui-ci. Si vous n'êtes pas le responsable du restaurant veuillez ne pas inscrire ce restaurant car ToLink ne pourra pas être tenu pour compte si quelqu'un usurpe l'identité d'un établisssement. L'établissemnt ou le compte utilisateur ne répond pas aux Termes et conditions générales du site, ToLink se réserve le droit de supprimer le compte/établissement ou de désactiver votre compte temporairement.

2.3 Les établissemnt se doivent de comporter une photographie exacte de ce quoi il est sensé ressembler dans la réalité. Si celui-ci n'est pas en accord avec le site ToLink, nous nous réservons le droit de supprimer l'établissemnt. Toutes images à caractères non appropriés pourra être sanctionnées par un bannissement ou une suppression du compte utilisateur ainsi que des poursuites judicières selon les préjudices causées à la société ToLink.

2.4 Toutes images postées sur le site ce vera devenir la propriété intellectuelle de ToLink.
	{% endtrans %}
	</p>
</article>

<article>
<h3>
3. 
{% trans %}
Réglement ToLink pour les restaurateurs
{% endtrans %}
</h3>
	<p>
	<h4>
	{% trans %}
		3.1 Utilisation du site pour les restaurateurs 
	{% endtrans %}
	</h4>
	{% trans %}
		L'utilisateur pourra utiliser le site ToLink pour y placer son établissement ou tout simplement pour y consulter les divers établissements mis à disposition par la communauté ToLink. Toute création d'une annonce pour mettre son établissement en valeur se devra de refléter la réalité et vous devez être dans l'obligation d'être le propriétaire de cet établissement ou une personne autorisée par celui-ci. Si toutefois ce n'est pas le cas ToLink peux à tout moment supprimer l'établissement ou temporairement le mettre en attente le temps de prendre contact avec l'établissement et de vérifier l'authenticité de celui-ci.
	{% endtrans %}

	</p>
		<p>
	{% trans %}
	3.2 Les commentaires
	Nous ne pouvons en aucun cas garantir les commentaires et les notes qu'un utilisateur pourrait emettre. Cependant une vérification de ceux-ci seront effectuée afin de garantir que ceux-ci ne soient pas contre la politique de Tolink en émettant des liens ou tous autres sujets qui n'auraient pas rapport avec l'établissement lié à ces commentaires.
	{% endtrans %}
	
	</p>
</article>
		<article>
<h3>
4. 
{% trans %}
Réglement ToLink pour les utilisateurs
{% endtrans %}
</h3>
	<h4>
	4.1.
	{% trans %}
	 Données personnelles
	{% endtrans %}
	</h4>
	<p>
	{% trans %}
		A tout moment l'utilisateur peut modifier ces données personnelles sur son espace personnel. Toutefois, nous pouvons vous demander de modifier votre pseudonyme si celui-ci présente des caractères à titre non appropriés.
		Vous pouvez aussi à tout moment supprimer votre compte et vos données personnelles seront immédiatement supprimées. Pour plus d'informations sur la gestion de vos données personnelles vous pouvez vous rendre dans  
	{% endtrans %}
		<a href="{{path('app_policy')}}">
		{% trans %}
		la politique de confidentialité
		{% endtrans %}
		</a>.

	</p>

	<h4>
	4.1.
	{% trans %}
	 Commentaires
	{% endtrans %}
	</h4>
	<p>
	{% trans %}
		ToLink permet à tous les utilisateurs de pouvoir donner son appréciation sur un établissement. Cependant toutes utilisations non appropriés du système de commentaire à des fins malveillantes pourra être sanctionnées par un bannissement ou si des préjudices sont caussés à la société Tolink des poursuites judicières pourraient être appliquer.

		Tolink, laisse la possiblité de s'exprimer à propos de l'établissement, toutefois nous vous demandons de bien vouloir rester correcte. Si à tout moment vous ne respectez pas ces conditions Tolink peux  modifier votre commentaire ou le supprimer ci-celui ci n'est pas conforme au réglement Tolink. 
	{% endtrans %}

	</p>

</article>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
