{% extends 'base.html.twig' %}
{% block title %}
	{% trans %}
	Terms et conditions
	{% endtrans %}
{% endblock %}

{% block body %}
    

	<section class="banner-privacy container-fluid home-banner" style="background-image:url({{asset('/build/images/site/privacy.png')}})">
		<div class="container d-flex justify-content-center logo-banner">
			<h1>{% trans %}	Terms et conditions{% endtrans %}</h1>
		</div>

	</section>

	<section class="container">
		<div class="policy-info-company-container">
			<div class="policy-info-compagny-title">
				<img src="{{asset('/build/images/site/logo-yellow.svg')}}" alt="logo toLink jaune et gris">
				<h3>
					{% trans %}
					Ce site web est fictif il est là pour démontrer mes capacités de développeur web.
					{% endtrans %}
				</h3>
			</div>

		</div>
		<div class="container-company-info-privacy">
			<article>
			<h2> {% trans %}Réglements de ToLink{% endtrans %}</h2>
				<p>
					{% trans %}
					Pour pouvoir poursuivre sur le site ToLink vous devez respecter les différents points cité dans ce réglement.
					{% endtrans %}
				</p>
			</article>

			<article>
			<h3>1. {% trans %}Définitions{% endtrans %}</h3>
			<ul>
				<li>
					<span>
					{% trans %}
						Politique de confidentialité
					{% endtrans %}
					:
					</span>
					{% trans %}
					 désigne le document qui définit la manière dont ToLink collecte, utilise, traite, stocke et transfère les données à caractère personnel;
					{% endtrans %}
				</li>
				<li>
					<span>
					{% trans %}
						utilisateur
					{% endtrans %}
					:
					</span>
					{% trans %}
					Désigne une personne utilisant le site ToLink
					{% endtrans %}
				</li>
				<li>
					<span>
					{% trans %}
						Restaurateur
					{% endtrans %}
					:
					</span>
					{% trans %}
					Désigne une personne utilisant le site ToLink et pouvant créer un établissement sur celui-ci.
					{% endtrans %}
				</li>
			</ul>
			</article>
<article>
<h3>
2.
{% trans %}
Introduction
{% endtrans %}
</h3>
	<p>
	{% trans %}
		2.1. Bienvenue sur le Site. Veuillez lire attentivement les présentes Conditions Générales. Elles définissent les conditions générales en vertu desquelles vous pouvez utiliser le Site. Si vous acceptez les présentes Conditions Générales, vous pourrez utiliser notre Site en tant qu’Utilisateur et aurez la possibilité d’agir en tant qu'utilisateur normal ou restaurateur sur le Site. Si vous n’acceptez pas les présentes Conditions Générales, vous n’êtes pas autorisé(e) à utiliser le Site. ToLink offre ces services à titre gratuit mais peut à tout moment offrir de nouveaux services payant qui seront indiqué précisément sur le site ToLink, ainsi que sur les conditions général et Termes du site. 

2.2 Toutes les restaurants mis sur le site  sont à la responsabilités du créateur de celui-ci. Si vous n'êtes pas le responsable du restaurant veuillez ne pas inscrire ce restaurant car ToLink ne pourra pas être tenu pour compte si quelqu'un se fait ussurpe l'identité d'un établisssement. l'établissemnt ou le compte utilisateur ne réponds pas aux Termes et conditions générales du site. ToLink se réserve le droit de supprimer le compte/établissement ou de désactiver votre compte temporairement.

2.3 Les établissemnt se doivent de comporter une photographie exacte de ce quoi il est sensé ressembler dans la réalité. Si celui-ci n'est pas en accord avec le site ToLink, nous nous réservons le droit de supprimer l'établissemnt. Toutes images à caractères non appropriés pourra t'être sanctionnées par un bannissement ou une suppression du compte utilisateur ainsi que de poursuites judicières selon les préjudices causées à la société ToLink.

2.4 Toutes images postée sur le site ce vera devenir la propriété intelectuel de ToLink.
	{% endtrans %}
	</p>
</article>

<article>
<h3>
3. 
{% trans %}
Réglement ToLink pour les restaurateurs
{% endtrans %}
</h3>
	<p>
	{% trans %}
	<h4>
		3.1 Utilisation du site pour les restaurateurs 
	</h4>
		L'utilisateur pourra utiliser le site ToLink pour y placer sont établissement ou tous simplement pour y consulter les divers établissement mis à disposition par la communauté ToLink. Toutes création d'une annonce pour mettre son établissement en valeur se devra de refléter la réalité et vous devez être dans l'obligation d'être le propriétaire de cet établissement ou une personne autoirsé par celui-ci. Si toutefois ce n'est pas le cas ToLink peux à tous moment supprimer l'établissement ou temporairement le mettre en attendent le temps de prendre contact avec l'établissement et vérifier l'authenticité de celui-ci.
	{% endtrans %}

	</p>
		<p>
	{% trans %}
	3.2 Les commentaires
	Nous ne pouvons aucun garantir les commentaires et les notes qu'un utilisateur pourrais emettre cependant une vérification de ceux-ci seront effectué a fin de garentir que ceux-ci ne soit pas contre la politique de Tolink en émettant des liens ou tout autre sujet qui n'aurait pas rapport avec l'établissement lié à ces commentaires.
	{% endtrans %}
	
	</p>
</article>
		<article>
<h3>
4. 
{% trans %}
Réglement ToLink pour les utilisateurs
{% endtrans %}
</h3>
	<h4>
	4.1.
	{% trans %}
	 Données personnelles
	{% endtrans %}
	</h4>
	<p>
	{% trans %}
		A tous moment l'utilisateur peut modifier ces données personnel sur son espace personnel. Toutefois, nous pouvons vous demander de modifier votre pseudonyme si celui-ci présente des caractères à titre non appropriés.
		Vous pouvez aussi à tous moment supprimer votre compte et vos données personnel seront immédiatement supprimée. Pour plus d'informations sur la gestion de vos données personnel vous pouvez vous rendre dans  
	{% endtrans %}
		<a href="{{path('app_policy')}}">
		{% trans %}
		la politique de confidentialité
		{% endtrans %}
		</a>.

	</p>

	<h4>
	4.1.
	{% trans %}
	 Commentaires
	{% endtrans %}
	</h4>
	<p>
	{% trans %}
		ToLink permet à tous les utilisateur de pouvoir donner son appréciations sur un établissement. Cependant toutes utilisation non appropriés du système de commentaire à des fins malveillantes pourra t'être sanctionnées par un bannissement ou si des préjudices sont caussés à la société Tolink des poursuites judicières pour être appliquer.

		Tolink, laisse la possiblité de s'exprimer à propos de l'établissement, toutes fois nous vous demander de bien vouloir rester correcte. Si toutefois vous ne respectez ces conditions Tolink peux à tous moment modifier votre commentaire ou le supprimer ci-celui ci n'est pas conforme au réglements Tolink. 
	{% endtrans %}

	</p>

</article>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
