
.nav-responsive-resto{
    @media (max-width:992px) {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top:80px;
        width: 100%;
        z-index: 9000;
        margin:1rem 0;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        box-shadow: var(--box-shadow-nav);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        z-index: 9000;
        border-radius: 0 0 10px 10px;
        
        &::after{
            content:'';
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            filter: blur(10);
            -webkit-filter: blur(10);
            z-index: 8500;
            background-color: rgba(237, 237, 237, 0.632);
        }
        .sticker{
            display: none;
        }

        .container-header-resto{
            display: flex !important;
            z-index: 9000;
            margin:1rem 0;
            h1{
                font-size: 3rem;
            }
            min-height: auto;
        }

        .nav-cube-responsive{
            justify-content: center;
            z-index: 9000;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
            gap: 10px;
            padding:1rem 1rem;
            .resto-cube-r{
                width: 100%;
                min-width: auto;
                max-width: 100%;
            }
        }
    }

    display: none;
}

.container-page-resto{
    @media (max-width:992px) {
        // margin-top: 130px !important;
    }
}

.container-header-resto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100px;
    margin: 2rem 0;
    flex-wrap: wrap;
    z-index: 1;
    @media (max-width:992px) {
        flex-direction: column;
        margin: 1rem 0;
        h1{
            font-size: 2.4rem !important;
        }
    }
    h1{
        font-size: 5rem;
        padding:0 1rem;
        font-family: var(--title-font);
        z-index: 2;
        &::after{
            content:'';
            position: relative;
            background-image: url('/assets/images/home/ligne.svg');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left:0;
            width: 100%;
            height: 100%;
            z-index: -1;
        
        }

       
    }

}
.container-header-star{
    padding: 0 1rem;
    .fa-solid{
      color: var(--primary);
    }
}


//nav page resto

.container-navi-resto{
  
    position: -webkit-sticky;
  
    position: sticky;
    top:220px;

    display: flex;
    z-index: 9000;
    background-color: var(--body);
    justify-content: space-around;
    flex-direction: column;
    margin-right: 1rem;
    max-height: 300px;
    width: 60px;
    box-shadow: var(--box-shadow-nav);
    border-radius: 10px;
    background-image: url('/assets/images/navi-resto.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
   

    @media (max-width:992px) {
       display: none;
        
    }
}

.cube-lateral{
    position: relative;
    background-color: var(--secondary);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: 0.5s ease-in;
    cursor: pointer;
    &:hover{
      transform:  scale(1.1);
      .sticker{
        opacity: 1;
      }
    }

    i{
        color:var(--primary);
    }
   
    .sticker{
        transition: 0.5s ease-in;
        opacity: 0;
        position: absolute;
        background-color: var(--white);
        box-shadow: var(--box-shadow-nav);
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:1rem 1rem;
        min-width: 200px;
        width: 100%;
        z-index: 250;
        right: -220px;
        border-radius: 5px;
        color: var(--secondary);
        &::after{
            content:'<';
            color: var(--white);
            
            position: absolute;
            left:-10px;
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

//nav-end


.js-move{
    margin-bottom: 5rem;
}
.localization-resto , .container-hourly, .container-information-resto, .container-plats,.container-comments, .container-form-comment{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    // padding:1rem;
    box-shadow: var(--box-shadow);
    background-color: var(--grey);
    border-radius: 10px;
    h2{
        font-family: var(--title-font);
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        font-size: 3rem;
        border-bottom: 1px solid var(--primary);
        margin: 0 auto;
        text-align: center;
    }
}

.localization-resto {
    justify-content: center;
    align-items: center;
    h2{
        color:var(--secondary);
        margin-top: 1rem;
    }
    .position-info{
        display: flex;
        margin: 2rem auto;
        align-items: center;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        @media (min-width:992px) {
            flex-direction: row;
        }
        flex-direction: column;
        picture{
        margin:0 1rem;
        width: 40px;
        height: 40px;
        img{
            max-width:100% ;
            max-height: 100%;
        }
        }
        h3{
            font-family: var(--title-font3);
            font-weight: bold;
            text-align: center;
        }

    }
    .container-number-resto{
        text-decoration: none;
        color:var(--white);
        box-shadow: var(--box-shadow);
        display: flex;
        align-items: center;
        min-height: 101px;
        max-width: 500px;
        width: 100%;
        padding:2rem 3rem;
        border-radius: 20px;
        font-size: 2.5rem;
        background-color: var(--primary);
        margin:2rem 0;
        .icon-number-resto{

            i{
                font-size: 5rem;
            }
        }
        .number-resto{
            display: flex;
            width: 100%;
            justify-content: center;
            font-family:var(--title-font1) ;
            }
    }
    .localization-resto-map{
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0px 10px 0 10px;
        position: relative;
        &::after{
            content:'';
            background-color: rgba(0, 0, 0, 0.106);
            position: absolute;
            z-index: 400;
            left:0;
            width: 100%;
            height: 100%;
            top:0;
            bottom: 0;
            right: 0;
        }
        #map{
            width: 100%;
            min-height: 400px;
        }
 }
 
}
.container-hourly{
    padding:2rem;
    background-color: var(--secondary);
    position: relative;
    overflow-x: hidden;
    h2{
        color:var(--white);
        margin-top: 0rem;
        width: 100%;
        text-align: center;
        position: relative;
        &::after{
            content:url('/assets/images/lineFull.png');
            position: absolute;
            top: 0;
            right: 427px;
            width: 100%;
            height: 100%;
        }
    }
    ul{
        .closed-resto{
            background-color: var(--close);
        }
        li{
            padding:1rem 0;
            display: flex;
            justify-content: space-between;
            border-bottom: 0.5px solid rgba(24, 24, 24, 0.133);
            box-shadow: var(--box-shadow);
            transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1);
            span{
                font-family: var(--title-font);
                font-weight:400;
                font-size: 2rem;
            }
            &:hover{
                box-shadow: none !important;
            }
            .day,.container-hour{
                padding:0 0.5rem;
            }
        }
        .closed{
            background-color: var(--close);
        }
    }
    .hourly{
        background-color: var(--grey);
        background-image: url('/assets/images/eat-time.png');
        background-repeat: no-repeat;
        background-size:300px;
        background-position: center center;
        margin: 2rem 0;
        padding: 1rem;
        border-radius: inherit;
    }
}


.container-information-resto{
    padding:1rem;
    margin: 0;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    &::after{
        position: absolute;
        content:url('/assets/images/chef.png');
        z-index: -1;
        bottom: 0;
        right: 0;
    }
    h2{
        color:var(--secondary);
        margin-top: 1rem;
        margin-bottom: 2rem;

    }
    .container-description-resto{
        p{
            text-align: center;
        }
    }
.container-infos-special{
    display: grid;
    gap:5px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    align-items: baseline;
}
    .container-origine-cuisine{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            text-align: center;
            border-bottom: 1px solid var(--primary);
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            color:var(--secondary);

            padding: 1rem 0;
        }
        figure{
            display: flex;
            flex-direction: column;
            z-index: 4;
            margin:0.5rem 0;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            img{
                height: 60px;
                width: 116px;
            }
            figcaption{
                padding:1rem 0;
                text-align: center;
                font-family: var( --font-family2);
                font-weight: 500;
                font-size: 2rem;
            }
        }



    }

}

.container-plats{
    padding:10px;
    h2{
        color: var(--secondary);
    }
    .full-plat{
        display: grid;
        justify-content: center;
        @media (min-width:768px) {    
            grid-template-columns: repeat(1,1fr) !important;
        }
        grid-template-columns: repeat(1,1fr);
            gap: 10px;

        margin:1rem 0;
        .plat{
                background-color: var(--white);
            picture{
                
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                display: block;
                height: 500px;    
            }
            span{
                display: flex;
                justify-content: center;
                padding:1rem 0;
                font-family: var(--title-font1);
                font-size: 2rem;
            }
        }
    }
    .container-plat{
        display: grid;
        justify-content: center;
        @media (min-width:768px) {    
            grid-template-columns: repeat(2,minmax(300px,1fr)) !important;
        }
        grid-template-columns: repeat(1,1fr);
            gap: 10px;

        margin:1rem 0;
        .plat{
                background-color: var(--white);
                cursor: pointer;
            picture{
                
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                display: block;
                height: 300px;    
            }
            span{
                display: flex;
                justify-content: center;
                padding:0.2rem 0.5rem;
                align-items: center;
                font-family: var(--title-font1);
                font-size: 2rem;
                text-align: center;
                min-height: 50px;
            }
        }
       
    }
    .resto-no-found-speciality{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:1rem 0;
        text-align: center;
        
    }
}
.container-comments{
    padding:10px;

    background-color: var(--white) !important;
    .container-comments-grid{

        display: grid;
        grid-template-columns: repeat(1,(1fr));
        gap: 5px;
        .not-comment-resto{
            text-align: center;
            font-weight: 400;
        }
        .comment-box{
            border-bottom: 0.4px solid rgba(0, 0, 0, 0.179);
            background-image: url("/assets/images/profil/home-bg-profil.svg");
            background-position: center center;
            background-repeat: no-repeat;
             background-size: contain;
            padding:0.8rem;
            .date-comment{
                display: flex;
                justify-content: space-between;
                padding:0.5rem 0;
                justify-content: space-between;
                align-items: center;
                @media (max-width:592px) {
                    flex-direction: column;
                    align-items: initial;
                }
                .comment-stars,.date-comment{
                    pointer-events: none;
                    -webkit-user-select: none;
                       -moz-user-select: none;
                        -ms-user-select: none;
                            user-select: none;
                    i{
                        font-size: 1.2rem;
                    }
                }
                figcaption{
                    font-weight: bold;
                    text-transform: capitalize;
                    p{
                        text-align: initial;
                    }
                }
                    .data-of-com{
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
            }
            .comment-avatar-resto{
                display: flex;
                // justify-content: flex-end;
                margin:1rem 0;
                align-items: center;
                color:var(--secondary);
                img{
                    border-radius: 50%;
                    width:60px;
                    height: 60px;
                }
                figcaption{
                    padding:0 1rem;
                }
            }
        }
        p{
            // text-align: center
        }
    }
    .js-comment-views{
        @extend .btn;
    }
}
.group-comment-form{
    span{
        font-weight: bold;
        padding-right:5px;
    }
    i{
        cursor: pointer;
    }
    display: flex;
    flex-direction: row !important;
}

