
a,p,figcaption,label,span,li,select,option{
    font-size: $a;
    font-weight: thin;
}

button{
    font-size: $a;
    font-weight: bold;
}
    h

    h2{
        font-size: $h2;
        // font-family: var(--title-font);
        font-family: var(--font-family2);
    }
    
    h3{
        font-size:$h3;
    }