
.footer{
    background-color:var(--secondary);
    background-image: url('/assets/images/lineFull.png');
    background-position: center center;
    background-size: cover;
    padding:10px 5px;
    .logo-footer{
        img{
            max-width:8rem;
            max-height: 8rem;
            -o-object-fit: contain;
               object-fit: contain;
            
        }
    }
    nav{
        ul{
            @media (max-width:768px) {
                flex-direction: column;
            }
            li{
                display: flex;
                padding:1rem 0.5rem;
                // flex: 1 1 auto;
                justify-content: center;
             

                
            }
            a,li{
                color:var(--white);
            }
        }
    }
}