header {
  // background-color: var(--ps);
  background-image: var(--linear);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  // min-height: 50px;
  z-index: 9990;

  box-shadow: var(--box-shadow-nav);
}
.header-container {
  @extend .container;
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .header-logo {
    height: auto;
    width: auto;
    img {
    }
  }
  .container-search-header {
    max-width: 400px;
    width: 100%;
    display: block;
    @media (min-width: 592px) {
      max-width: 400px;
      width: 100%;;
    }
    @media (max-width:592px) {
      display: none;
    }

    margin: 0 2rem;
    .header-form-search{
      display: flex;
      height: 40px;
      margin: 0 auto;
      max-width: inherit;
      width: 100%;
      position: relative;
      align-items: center;
      background-color: white;
      padding: 0;
      border-radius: 20px;
      picture {
        min-height: inherit;
        height: 100%;
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        border-radius: 5px 0 0px 5px;
        i {
          color: var(--primary);
        }
      }

      input[type=text] {
        width: 100%;
        min-height: inherit;
        height: 100%;
        border: none;
        border-radius: 0px 5px 5px 0px;
        outline-color: white;
        padding: 0 1rem;

        ::-webkit-input-placeholder {
          color: var(--secondary);
        }

        ::-moz-placeholder {
          color: var(--secondary);
        }

        :-ms-input-placeholder {
          color: var(--secondary);
        }

        ::-ms-input-placeholder {
          color: var(--secondary);
        }

        ::placeholder {
          color: var(--secondary);
        }
      }
      .header-form-search-submit{
         min-height: inherit;
        height: 100%;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        cursor: pointer;
        img{
          height: 100%;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
        }
      }
    }
  }
  .header-container-btn {
    display: none;
  }
  .action-btn-search {
    position: relative;
    margin: 0 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
      input{
        display: none;
        
      }
      button{
        cursor: pointer;
      }
    }
    .action-btn-search-a {
      border: none;
      border-radius: 5px;
      background-color: var(--color-grey-ligtht3);
      width: 50px;
      // border: 2px solid var(--color-grey-ligtht3);
      box-shadow: var(--box-shadow-nav);
      height: 50px;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-height: 100%;

        -o-object-fit: cover;

           object-fit: cover;
      }
    
    }
    .action-login-search,
    .action-register-search {
      background-color: var(--secondary);
      width: 80px;
      border: none;
    }
    span {
      position: absolute;
      top: 80px;
      min-width: 130px;
      text-align: center;
      background-color: var(--primary);
      padding: 0.5rem 1rem;
      transform-origin: center center;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      pointer-events: none;
      opacity: 0;
      color: var(--secondary);
      transition: 0.3s ease-in-out all;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      box-shadow: var(--box-shadow);
      &::after {
        content: "^";
        position: absolute;
        font-size: 20px;
        color: var(--secondary);
        top: -30%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &:hover {
      span {
        opacity: 1;
        top: 70px;
        &::after {
          -webkit-animation: sticker-after 0.2s alternate infinite;
                  animation: sticker-after 0.2s alternate infinite;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .header-container-btn {
      display: flex;
      align-items: center;

      a,
      p {
        color: var(--secondary);
        font-weight: 400;
      }
      p {
        padding: 0 0.2rem;
      }
    }
  }
  .header-btn-profil {
    margin: 0 1rem;
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 4;
    cursor: pointer;
    picture {
      width: 50px;
      img {
        border-radius: 50px;
        border: 2px solid var(--white);
        width: 50px;
        height: 50px;
        -o-object-fit: cover;
           object-fit: cover;
      }
    }
    i {
      color: white;
      font-size: 1rem;
    }
  }
  .header-btn-responsive {
    display: none;
    font-size: 2.5rem;
  }
  @media (min-width: 576px) {
    .header-form-search {
      max-width: 400px;
    }
  }
  @media (max-width: 992px) {
    .header-btn-responsive {
      display: block !important;
    }
  }
}
.menu-down-profil {
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 9999;
  display: none;
  max-width: 400px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem;
  transition: 30s ease-in-out all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) all;
  opacity: 0;
  transform: translateY(40px);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.39);
  background-color: var(--grey);
  z-index: 10;
  ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
    border-radius: 10px;
    li {
      width: 100%;
      margin: 0 !important;
      padding: 1rem 0rem;
      a {
        border-radius: 10px;
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 200px;
        background-color: white;
        text-align: center;
        overflow: hidden;
        transition: all 0.4s;
        color: var(--secondary);
        &:hover {
          background-color: var(--primary);
          color: white;
        }

        span {
          display: flex;
          width: 100%;
          i:not(.log-out-profil) {
            max-width: 80px;
            width: 100%;
            padding: 1rem 0;
            min-height: 80px;
            height: 100%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: var(--secondary);
            img {
              max-width: 60px;
              max-height: 60px;
              width: 100%;
              -o-object-fit: contain;
                 object-fit: contain;
            }
          }
          span {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
.log-out-profil {
  a {
    span {
      background-color: rgba(255, 0, 0, 0.486);
    }
  }
  i {
    max-width: 40px !important;
    min-height: 40px !important;
    color: white !important;
  }
}

.menu-down-info-profil{
  min-height: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px -1px rgba(83, 56, 220, 0.357);

  picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    width: 100% !important;
    flex-direction: column;
    img {
      -o-object-fit: contain;
         object-fit: contain;
      max-width: 40px;
      max-height: 40px;
      border-radius: 50%;
      padding-right: 0.2rem;
    }
    span {
      padding: 0.3rem 0.5rem;
      text-align: center;
    }
  }
  .info-profil-down {
    padding: 0.8rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    color: var(--primary);
  }
}
.active-menu-header-profil {
  @media (min-width:992px) {
    
    -webkit-animation: down-menu 0.4s forwards;
    
            animation: down-menu 0.4s forwards;
    display: block !important;
  }
}

@-webkit-keyframes down-menu {
  0% {
    top: 100%;
    display: none;
  }
  100% {
    display: block !important;
    top: 50px;
    opacity: 1;
  }
}

@keyframes down-menu {
  0% {
    top: 100%;
    display: none;
  }
  100% {
    display: block !important;
    top: 50px;
    opacity: 1;
  }
}
@-webkit-keyframes sticker-after {
  0% {
    top: -20%;
  }
  100% {
    top: -10%;
  }
}
@keyframes sticker-after {
  0% {
    top: -20%;
  }
  100% {
    top: -10%;
  }
}

//bottom nav responsive

.bottom-nav{
  display: none;
}
@media (max-width:991px) {

.bottom-nav {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  z-index: 9900;
  bottom: 0;
  min-height: 40px;
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  .container {
    padding-right: 0!important;
     padding-left: 0!important;
    .bottom-nav-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .action-btn-search {
    
          form{
            width: 100%;
            input{
            
              display: none;
            }
            button[type=submit]{
              cursor: pointer;
              
              border:none;
            }
          }
        
        position: relative;
        margin: 0 0.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .action-btn-search-a {
          border-radius: 5px;
          background-color: var(--color-grey-ligtht3);
          width: 100%;
          // border: 2px solid var(--color-grey-ligtht3);
          box-shadow: var(--box-shadow-nav);
          height: 30px;
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-height: 100%;

            -o-object-fit: cover;

               object-fit: cover;
          }
        }
        .action-login-search,
        .action-register-search {
          background-color: var(--secondary);
          width: 80px;
          border: none;
        }
        span {
          position: relative;
          text-align: center;
          padding: 0.5rem 0;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          pointer-events: none;
          color: var(--white);
          font-size: 1rem;
          font-weight: bold;
          box-shadow: var(--box-shadow);
        }
      }
    }
  }
}
}


//close anim menu
.container-anim-burger{
  justify-content: center;
  height: 100%;
  align-items: center;
  display: none;
  cursor: pointer;
 svg {
  fill:white;
 }
 @media (max-width:991px) {
  display: flex;
 }
}

.header-container-phone{
  justify-content: center;
  .search-phone-header{
    min-height: 50px;
    height: 100%;
    display: block;
  }
}
//langage voir demain pour faire un dropdown propre

.dropdown-country{
  display: flex;
  background-color: transparent;
  flex-direction: column;
  width: fit-content;
  position: relative;
  transition: 0.3s all ease-in;

  
  .visible{
    border: none;
    position: relative !important;
    border-radius: 5px;
    background-color: var(--secondary);
    box-shadow: var(--box-shadow-nav);
    cursor: pointer;
    padding:5px;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 40px;
      object-fit: cover;
    }
  }
  .first-country{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    display: none;
    background-color: var(--secondary);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    opacity: 0;
    &::after{
      content:  '';
      position: absolute;
      background-image: url('/assets/images/triangle.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      top:-10px;
      left:50%;
      transform: translateX(-50%);
    }
    a{
      display: flex;
      width: inherit;
      height: inherit;
      margin:0.5rem 0;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span{
        color: white;
      }
    }
    img{
      height: 40px;
      object-fit: cover;
    }
  }
  }

  @keyframes down-lang {
    0% {
      top: 80px;
      display: none;
      opacity: 0;
    }
    100% {
      top: 60px;
      display: flex !important;
      opacity: 1 ;
    }
  }
  .active-lang-down{
    animation: down-lang 0.3s ease-in forwards;
    display: flex !important;
  }