.navigation-responsive {
  position: fixed;
  width: 100%;
  top: 70px;
  left: -100%;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--grey);
  background-image: url("/assets/images/profil/home-bg-profil.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 991px) {
    display: block;
  }
  @media (min-width: 592px) {
    z-index: 9600;
  }
  z-index: 9910;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: 120px;
  display: none;

  .navigation-close {
    margin-top: 2rem;
    cursor: pointer;
  }
  .container-navigation-responsive {
    @extend .container;
    .navigation-user-info {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: var(--secondary);
        picture {
          border-radius: 50%;
          img {
            border-radius: 50%;
            height: 80px;
          }
        }
        h2{
          text-align: center;
        }
      }
    }

    .navigation-responsive-list {
      width: 100%;
      background-color: var(--white);
      border-radius: 10px;
      transition: 30s ease-in-out all;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) all;
      background-color: var(--grey);
      z-index: 10;
      .log-out-profil{
        span{
          padding:0 !important;
        }
      }
      ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0;
        border-radius: 10px;
        li {

          width: 100%;
          margin: 0 !important;
          padding: 1rem 0rem;
          a {
            border-radius: 10px;
            display: flex;
            align-items: center;
            width: 100%;
            min-width: 200px;
            background-color: white;
            text-align: center;
            overflow: hidden;
            transition: all 0.4s;
            color: var(--secondary);
            font-weight: bold;
            &:hover {
              background-color: var(--primary);
              color: white;
            }
           
            span {
              display: flex;
              width: 100%;
              padding: 1rem;
          
              i:not(.log-out-profil) {
                max-width: 80px;
                width: 100%;
                padding: 1rem 0;
                min-height: 40px;
                max-height: 50px;
                height: 100%;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: var(--secondary);
                img {
                  max-width: inherit;
                  max-height: inherit;
                  
                  -o-object-fit: contain;
                  object-fit: contain;
                }
              }

              span {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }

  .header-form-search {
    display: none;
    height: 40px;
    margin: 2rem auto;
    max-width: inherit;
    width: 100%;
    position: relative;
    align-items: center;
    background-color: white;
    padding: 0;
    
    border-radius: 20px;
    @media (max-width:591px) {
      display: flex;
    } 
    picture {
      min-height: inherit;
      height: 100%;
      background-color: var(--secondary);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      border-radius: 5px 0 0px 5px;
      i {
        color: var(--primary);
      }
    }

    input[type="text"] {
      width: 100%;
      min-height: inherit;
      height: 100%;
      border: none;
      border-radius: 0px 5px 5px 0px;
      outline-color: white;
      padding: 0 1rem;

      ::-webkit-input-placeholder {
        color: var(--secondary);
      }

      ::-moz-placeholder {
        color: var(--secondary);
      }

      :-ms-input-placeholder {
        color: var(--secondary);
      }

      ::-ms-input-placeholder {
        color: var(--secondary);
      }

      ::placeholder {
        color: var(--secondary);
      }
    }
    .header-form-search-submit {
      min-height: inherit;
      height: 100%;
      border: none;
      background-color: transparent;
      width: 40px;
      cursor: pointer;
      img {
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }
}

@-webkit-keyframes slide-menu {
  0% {
    left: 100%;
    opacity: 0;
    background-color: red !important;
  }
  80% {
    left: -5%;
    opacity: 0.5;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide-menu {
  0% {
    left: 100%;
    opacity: 0;
    background-color: red !important;
  }
  80% {
    left: -5%;
    opacity: 0.5;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.navigation-up {
  -webkit-animation: slide-menu 0.5s forwards;
  animation: slide-menu 0.5s forwards;
}
