//variable color,size,etc

:root{
    --body-color:#fbfbfb;
    --white:#FCFCFC;
    --white2:#fff;
    --grey:#EDEDED;
    --primary:#feaa3a;

    --secondary:#1c2826;
    --linear:linear-gradient(-90deg, var(--g1), var(--g2));

    --secondary:#384041;
    --secondary-light:#38404148;
    --light:#f8fff4;
    --color-1:#373f47;
    --error:#D52941;
    --error2:#ef2917;
    --close:#d5294067;
    --color-2:#6D9DC5;
    --color-3:#ECECEC;
    --color-grey-ligtht:#ececec88;
    
    --g1: #FFB714;
    --g2: #FFE579;
    //font
    --font:'Montserrat', sans-serif;
    --title-font: 'Lobster', cursive;
    --title-font2: 'Bodoni Moda', serif;
    --font-family1: 'Lobster', cursive;
    --font-family2: 'Lobster Two', cursive;
    --font-family3: 'Poppins', sans-serif;
    
    //font weight
    --bold:bold;
    --medium:500;
    --regular:400;
    --thin:100;
    //size container
    --min-container:calc(100vh - 200px);
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
    --shadow-card: 0px 0px 31px rgba(60,60,60,.25);
}
$font-size:62.5%;

// font-size police
$p:1.6rem;
$a:$p;
$h2:4rem;
$h3:2rem;


//margin

.m-a-l{
    margin-left: auto;
}

.m-a-r{
    margin-right: auto;
}

.bg-full{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
