
.card{
    transition: 1s all;
    background-color: transparent;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    background-position: center center;
    height: fit-content;
    
    color: var(--secondary);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    h2{
        font-size: 2.1rem;
        color:var(--secondary);
        font-family: var(--title-font);
        @media (max-width:400px) {
            font-size: 1.6rem;
        }
        @media (min-width:576px) {
            font-size: 2rem;
        }
    }
    
    .fa-solid{
        color:var(--primary);
      
    }
    .note{
        display: flex;
        align-items: center;
        i{
            font-size: 1.2rem;
        }
    }
}
.info-card-rating{
    padding:0.5rem;
    display: flex;
    justify-content: space-between;
    
}
.card:hover{
    transform: scale(1.01);
    @media (max-width:992px) {
        transform: scale(1.0);
    }
    box-shadow: var(--box-shadow);
}

.figure-card{
    max-width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
        min-height: 350px;
        // img{
        //     object-fit: cover;
        //     max-height: 100%;
        // }
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    figcaption{
        top:50%;
        right:0;
        background-color: var(--light);
        min-height: 20px;
        color: var(--white);
        z-index: 2;
        max-width: fit-content;
        padding:1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px 0 0 10px;
        img{
            padding:0.5rem 0;
            max-width:40px;
            max-height: 40px;
            object-fit: contain;
        }
    }
}

.info-city-type-card{
    .info-city-card{
        font-weight: bold;
    }
    img{
        max-width: 50px;
        max-height: 50px;
        object-fit: contain;
    }
}