{% set errors = false %}
{% extends 'base.html.twig' %}

{% block title %}
	Restaurant
{% endblock %}

{% block body %}
	<section class="search-page container d-flex">
		{% include "/_partials/_lateral_bar.html.twig" %}
		<div class="overflow">
	<div class="container-page-search">
		<div class="title-page-restaurants">
		<h1>Notre sélection d'établissements</h1>
		</div>
			<section class="container-grid-card">
				<span class="btn-filter-responsive">
					<div class="pulse"></div>
					Filtrer
					<i class="fa-solid fa-filter"></i>
				</span>
				{% include "/_partials/_card.html.twig" %}
			</section>
	</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('active-lateral') }}
{% endblock %}
