{% extends "base.html.twig" %}

{% block title %}
    {% trans %}
        Page 403
    {% endtrans %}
{% endblock %}

{% block body %}
    <section class="container-error-request-custom">
<picture>
<img src="{{asset('/build/images/errors/403.svg')}}" alt= {% trans %}"403 sur fond rouge avec un panneau attention"{% endtrans %}>
</picture>
<h1>
    {% trans %}Accès non autorisé!{% endtrans %}
</h1>

<a class="btn" href="{{path('home')}}"> {% trans %}Retour vers l'accueil{% endtrans %}</a>
</section>
{% endblock %}